<h1>Add a new <%= singular_name.titleize %></h1>

<%%= render :partial => '<%= singular_name %>', :locals => {:submit => 'Save this <%= singular_name.titleize %>'} %>

<%%= link_to 'Go back to <%= plural_name.titleize %>', <%= plural_name %>_path %>
